/Errors/**
Erros
/Logs/**
**/__pycache__
.configs.json
flutter/
Run.ps1
.configs.json
Drivers/Appium.Linux.AppImage
*.log
*.ser
*.xlsx
*.html
.map.html
TelemetryProcessing.xlsx
.env
API/Data
API/Logs
API/Lib
API/Scripts
API/
**/node_modules
**/*.json
FrontEnd/youtube-clone/public
FrontEnd/youtube-react/